body {
    background: black;
    font-family: "Papyrus", Helvetica;
}

.container {
    max-width: 1024px;
}

.container > .navbar-header {
    background-color: #333333;
    width: 100%;
    margin-left: 0;
}
.navbar-nav {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.content {
    margin-top: 20px;
}
.nav-pills a {
    color: #83A7CF;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #83A7CF;
    outline: none;
}
.navbar-nav a {
    color: #FFFFFF;
    font-size: 12px;
}
.navbar-nav > li > a:hover {
    background-color: #333333;
    color: #ECDC13;
}
.navbar-nav > li > a:focus, .navbar-nav a.current {
    background-color: #333333;
    color:#83A7CF
}
.nav-tabs > li > a:hover {
    background-color: #000000;
    color: #FFFFFF;
}
.nav-tabs > li > a:focus {
    background-color: #000000;
    color: #FFFFFF;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #000;
    color: #FFF;
    cursor: default;
}
.thumbnail {
    background-color: #000000;
    border: none;
    text-align: center;
    height: 200px;
}
.thumbnail .caption {
    color: #FFFFFF;
    padding-left:0;
    padding-right: 0;
}
.btn {
    font-size: 12px;
    font-weight: bold;
    padding: 2px 12px;
}
.btn-primary {
   background: #d1dee6;
   background: -webkit-gradient(linear, left top, left bottom, from(#293f4f), to(#d1dee6));
   background: -webkit-linear-gradient(top, #293f4f, #d1dee6);
   background: -moz-linear-gradient(top, #293f4f, #d1dee6);
   background: -ms-linear-gradient(top, #293f4f, #d1dee6);
   background: -o-linear-gradient(top, #293f4f, #d1dee6);
   color: white;
}
h5 {
    height: 35px;
}
.btn-primary:hover {
    color: #ECDC13;
}

.thumbnail a > img {
    max-height: 87px;
    max-width: 130px;
}
.navbar-text, .navbar-text a {
    float: right;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer {
    background-color: #333333;
    height: 35px;
}
.footer a {
    text-decoration: none;
}
